{% extends "app\padre.html" %}
{% load static %}

{% block titulo %}
<h1 style="color:whitesmoke">detalle de: <i>{{documental.nombre}}</i> </h1>
<h3 style="color: white;"> {{ mensaje }} </h3>
<a class="btn btn-secondary" href="{% url 'documentales' %}">volver</a>
{% endblock %}
`
{% block contenido_que_cambia %}
<body>
    
    <h4>NOMBRE : <i>{{documental.nombre}}</i></h4>
    <h4>EPISODIOS : <i>{{documental.episodios}}</i></h4>
    <h4>COMENTARIO : <i>{{documental.comentario}}</i></h4>
    
</body>
    {% endblock %}