<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mi Pagina</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'app/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'app/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                {% block navbar1 %}
                <a class="navbar-brand" href="{% url 'iniciousuarios' %}">Inicio</a>
                {% endblock %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-5 mb-lg-1">
                        {% block usuario %}
                        {% endblock %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% block navbar %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'peliculas' %}">Peliculas</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'series' %}">Series</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'documentales' %}">Documentales</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'busqueda' %}">Buscar</a></li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
       
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            {% block titulo%}
                            <h1 class="display-5 fw-bolder text-white mb-2">peliculas, series y documentales que recomendamos ver </h1>
                            <p class="lead text-white-50 mb-4">un cierto tipo de guia para ver lo mejor del entretenimiento</p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            
        </header>
        <div class="container">
            <div class="text-center mt-5">
                {% block contenido_que_cambia %}
                <h1>A Bootstrap 5 Starter Template</h1>
                <p class="lead">A complete project boilerplate built with Bootstrap</p>
                <p>Bootstrap v5.1.3</p>
                {% endblock %}
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'app/js/scripts.js' %}"></script>
        
    </body>
</html>
       
       
{% block footer %}

<style>
    html{
        height: 100%;
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .gregory{
         margin-top: auto;
    }
</style>

<section class="gregory">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #000000;">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <a href="{% url 'paginas' %}">
            <button type="button" class="btn btn-outline-light btn-rounded">
              PAGINAS ACCESIBLES
            </button> </a>
            <a href="{% url 'about' %}">
            <button type="button" class="btn btn-outline-light btn-rounded" role="link" >
                ACERCA DE MI
              </button>
            </a>
          </p>
          
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
{% endblock %}