{% extends "app\padre.html" %}
{% load static %}

{% block titulo %}
<h1 style="color:whitesmoke">Peliculas</h1>
<h3 style="color: rgb(255, 255, 255);"> {{ mensaje }} </h3>
<a class="btn btn-secondary" href="{% url 'CargarPeliculas' %}">CARGAR</a>
{% endblock %}

{% block contenido_que_cambia %}
<body>
  

   <ul>
     {% for peliculas in object_list %}
    <h3 align="left" > <li> {{ peliculas }}  <a class="btn btn-primary" href="{% url 'peliculasdetalle' peliculas.id %}" >ver</a> </li></h3> 
    </ul>
    
    {% endfor %}
</body>    
       
{% endblock %}
