{% extends "app\padre.html" %}
{% load static %}

{% block titulo %}
<h1 style="color:whitesmoke">buscando la pelicula</h1>
<h3 style="color: rgb(255, 255, 255);"> {{ mensaje }} </h3>
<a class="btn btn-secondary" href="{% url 'busqueda' %}">VOLVER</a>
{% endblock %}

{% block contenido_que_cambia %}
    {% if peliculas %}
   <ul>
    {% for Pelicula in peliculas %}
    <h3><li> {{Pelicula.nombre}} // {{Pelicula.genero}}</li></h3>
    
    {% endfor %}
    </ul>
    {% endif %}

       
{% endblock %}
