{% extends "app\padre.html" %}
{% load static %}

{% block titulo %}
<h1 style="color:whitesmoke">detalle de: <i>{{serie.nombre}}</i> </h1>
<h3 style="color: white;"> {{ mensaje }} </h3>
<a class="btn btn-secondary" href="{% url 'series' %}">VOLVER</a>
{% endblock %}
`
{% block contenido_que_cambia %}
<body>
    
    <h4>NOMBRE : <i>{{serie.nombre}}</i></h4>
    <h4>GENERO : <i>{{serie.genero}}</i></h4>
    <h4>AUTOR : <i>{{serie.autor}}</i></h4>
    <h4>COMENTARIO : <i>{{serie.comentario}}</i></h4>
    <h4>ESTRENO : <i>{{serie.estreno}}</i></h4>
    <h4>IMAGEN : <i>{{serie.imagen}}</i></h4>
    <a class="btn btn-danger" href="{% url 'series.eliminar' serie.id %}" >ELIMINAR</a><a class="btn btn-success" href="{% url 'series.editar' serie.id %}" >EDITAR</a>
</body>
    {% endblock %}